.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar div {
  margin: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar div:hover {
  color: rgb(136, 139, 139);
  text-decoration: underline;
}
